@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './mixins.scss';
@import './variables.scss';
@import './fonts.scss';
@import './header.scss';
// @import './footer.scss';

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Opensans-regular';
}

body {
  margin: 0;
  counter-reset: step;
  position: relative;
}

a {
  text-decoration: unset;

  &:active {
    color: unset;
  }
}

p {
  margin-top: 0;
}

input,
textarea,
button {
  &:focus {
    outline: unset;
    box-shadow: unset;
  }
}

.dropdown {
  position: relative;
  padding-bottom: 10px;

  @include md {
    display: none;
  }

  .dropdown-active {
    @include font-size;
    color: white;
    transition: .5s;
  }

  &.active,
  &:hover {
    div {
      transform: translateY(0) scale(1);
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown-items {
    position: absolute;
    top: 15px;
    right: -12px;
    width: max-content;
    border: 1px solid rgba(13, 11, 18, 0.15);
    border-radius: 0.25rem;
    transition: all .3s ease;
    transform: translateY(30px) scale(0.9);
    visibility: hidden;
    opacity: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin-top: 15px;
    z-index: 9;

    a {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.btn {
  margin-top: 50px;
  position: relative;
  padding: 15px 30px;
  background-color: $secondaryColor;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  transition: .5s;
  overflow: hidden;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: .5s;
  }

  &:hover {
    background-color: #a41ee9;
  }

  &:hover {
    &::before {
      left: 100%;
    }
  }
}

.modal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: all .3s ease-in-out;

  form {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    padding: 20px;

    label {
      margin-bottom: 8px;
      font-size: 15px;
    }

    .textarea {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 500px;

    }

    .inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    .button {
      text-align: right;

      .btn {
        margin-top: 30px;
        padding: 10px 15px;
      }
    }

    textarea,
    input {
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      padding: 5px 10px;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        border-color: #66afe9;
      }
    }
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}

.modal-opened {
  .modal {
    z-index: 9999;
    opacity: 1;
  }
}

.error-msg {
  background-color: unset;
  color: white;
  border: unset;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}
